@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#header4-2 H1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: #27aae0;
}
#slider-11 H1 {
  color: #51ccff;
  font-size: 36px;
  text-align: center;
}
#slider-11 P {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#slider-16 H1 {
  color: #27aae0;
}
